apollo_all_working.json
{
  "name": "Apollo Lead Enrichment v9 (with MailMeteor Fallback) copy",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "<YOUR_INPUT_SPREADSHEET_ID>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "s1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<YOUR_INPUT_SPREADSHEET_ID>/edit#gid=0"
        },
        "options": {}
      },
      "id": "d818ba5d-09cc-4f8f-bf8e-3de3a8f698dd",
      "name": "Read Input Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        38880,
        17440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_CREDENTIAL_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook1').first().json;\n\nconst targetRow = String(webhookData.body?.targetRow || webhookData.query?.targetRow || '');\n\nif (!targetRow) {\n  return $input.all();\n}\n\nconst filtered = [];\n\nfor (const item of $input.all()) {\n\n  const row =\n    item.json.row_number ||\n    item.json.rowNumber ||\n    item.json.row ||\n    item.json.id ||\n    '';\n\n  if (String(row) === targetRow) {\n    filtered.push(item);\n  }\n}\n\nreturn filtered;"
      },
      "id": "c6d73715-744b-44f1-8322-5785c0029eb6",
      "name": "Filter by Row1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39056,
        17440
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let url = item.json.company_url || '';\n  item.json.clean_domain = url.replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, '').split('/')[0];\n}\nreturn $input.all();"
      },
      "id": "b9351ab5-1c4f-4289-9b67-92b09117be79",
      "name": "Clean URL1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39216,
        17440
      ]
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "<YOUR_OUTPUT_SPREADSHEET_ID>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "s2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<YOUR_OUTPUT_SPREADSHEET_ID>/edit#gid=0"
        },
        "options": {}
      },
      "id": "fe808612-7616-480e-b85c-c9aeb5a0fef1",
      "name": "Read Output Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        38880,
        17648
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_CREDENTIAL_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/organizations/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "<YOUR_APOLLO_API_KEY>"
            },
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_name\": \"{{ $('Clean URL1').item.json.company_name }}\",\n  \"organization_domains\": [\"{{ $('Clean URL1').item.json.clean_domain }}\"]\n}",
        "options": {}
      },
      "id": "90ef27d9-0bb4-478d-b2b3-8eaac5744e71",
      "name": "Apollo Organization Search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        39376,
        17440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "<YOUR_APOLLO_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_domains\": \"{{ $('Clean URL1').item.json.clean_domain }}\",\n  \"person_titles\": [\"Founder\", \"CEO\", \"CTO\", \"Engineering Manager\", \"VP Engineering\"],\n  \"page\": 1,\n  \"per_page\": 15\n}",
        "options": {}
      },
      "id": "c2d0f438-77ef-4c23-b2bd-e2b9cfa834e1",
      "name": "Apollo API Search High Value1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        39568,
        17440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.pagination?.total_entries || $json.total_entries || 0}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "0ae73ab7-c4d3-4d5d-92fe-db954ab79042",
      "name": "If Zero Results1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        39776,
        17440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "<YOUR_APOLLO_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_domains\": \"{{ $('Clean URL1').item.json.clean_domain }}\",\n  \"page\": 1,\n  \"per_page\": 15\n}",
        "options": {}
      },
      "id": "dcb59d09-d762-497c-8d2c-7bcd53244d90",
      "name": "Apollo API Search Fallback1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        39824,
        17648
      ]
    },
    {
      "parameters": {},
      "id": "d75f8786-cd1d-4c7d-8bb1-afed250c9540",
      "name": "Merge Search Results1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        39968,
        17440
      ]
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nlet items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const people = items[i].json.people || [];\n  const targetTitles = [\"Founder\", \"CEO\", \"CTO\", \"Engineering Manager\", \"VP Engineering\"];\n  let selected = [];\n  let usedTitles = new Set();\n  let usedIds = new Set();\n\n  for (let target of targetTitles) {\n    let person = people.find(p => p.title && p.title.toLowerCase().includes(target.toLowerCase()) && !usedIds.has(p.id));\n    if (person) {\n      selected.push(person);\n      usedTitles.add(person.title);\n      usedIds.add(person.id);\n    }\n  }\n  if (selected.length < 5) {\n    for (let person of people) {\n      if (!usedIds.has(person.id) && person.title && !usedTitles.has(person.title)) {\n        selected.push(person);\n        usedTitles.add(person.title);\n        usedIds.add(person.id);\n        if (selected.length >= 5) break;\n      }\n    }\n  }\n  if (selected.length < 5) {\n    for (let person of people) {\n      if (!usedIds.has(person.id)) {\n        selected.push(person);\n        usedIds.add(person.id);\n        if (selected.length >= 5) break;\n      }\n    }\n  }\n  selected.forEach((p, idx) => {\n    p.is_last_item = (idx === selected.length - 1);\n    results.push({ json: p, pairedItem: { item: i } });\n  });\n}\nreturn results;"
      },
      "id": "1a39a32a-8f69-4255-8880-e308f7085e47",
      "name": "Filter Unique Titles1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40176,
        17440
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "8f820380-df3f-4384-9d0e-c28ed9899d1a",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        40368,
        17440
      ]
    },
    {
      "parameters": {
        "jsCode": "const person = $input.item.json;\nconst cleanDomain = $('Clean URL1').item.json.clean_domain || '';\n\nconst staticData = $getWorkflowStaticData('node');\nconst now = new Date().getTime();\nif (!staticData.lastUpdate || (now - staticData.lastUpdate > 30000)) {\n    staticData.skippedDomains = [];\n}\nstaticData.lastUpdate = now;\n\nlet existingLeads = [];\ntry { existingLeads = $('Read Output Sheet1').all().map(item => item.json); } catch(e) {}\n\nlet skip = false;\n\ntry {\n  const successes = $('Update Google Sheet1').all();\n  if (successes.some(s => (s.json.company_url || '').includes(cleanDomain) || (s.json.clean_domain || '').includes(cleanDomain))) {\n    skip = true;\n  }\n} catch(e) {}\n\nif (staticData.skippedDomains.includes(cleanDomain)) { skip = true; }\n\nif (skip) {\n   return { json: { ...person, duplicate: true, skip_silently: true } };\n}\n\nlet exists = false;\nfor (let lead of existingLeads) {\n  if (lead.apollo_person_id && lead.apollo_person_id === person.id) { exists = true; break; }\n  if (lead.linkedin_url && person.linkedin_url && lead.linkedin_url === person.linkedin_url) { exists = true; break; }\n  if (lead.verified_email && person.email && lead.verified_email === person.email) { exists = true; break; }\n  if (lead.first_name && lead.first_name === person.first_name && lead.last_name === person.last_name && (lead.company_url || lead.clean_domain || '').includes(cleanDomain)) { exists = true; break; }\n}\n\nif (exists) { staticData.skippedDomains.push(cleanDomain); }\nreturn { json: { ...person, duplicate: exists, skip_silently: false } };"
      },
      "id": "51f2c4c9-327e-45f2-8387-a41cfe361860",
      "name": "Deduplication Check1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40576,
        17440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.duplicate}}",
              "value2": true
            }
          ]
        }
      },
      "id": "84b49801-787d-42af-95f0-f42b6ab13215",
      "name": "If Duplicate1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        40912,
        17456
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<YOUR_SLACK_WEBHOOK_URL>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🔄 *Candidate Already Exists!*\\n\\n*Name:* {{$json.first_name}} {{$json.last_name}}\\n*Title:* {{$json.title}}\\n*Email:* {{$json.email || 'N/A'}}\\n*LinkedIn:* {{$json.linkedin_url || 'N/A'}}\\n*Company:* {{ $('Clean URL1').item.json.company_name }}\\n\\nSkipping this employee and all other fallbacks for this company.\"\n}",
        "options": {}
      },
      "id": "a55c10ed-4c4c-4a8e-ab42-69e2eff7ed7e",
      "name": "Slack Notification (Duplicate)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        41136,
        17216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "<YOUR_APOLLO_API_KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{$json.id}}\"\n}",
        "options": {}
      },
      "id": "d7465978-1eed-4a2a-8383-0c2d4bc7ff97",
      "name": "Apollo Single Enrich1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        40992,
        17664
      ]
    },
    {
      "parameters": {
        "jsCode": "const matchResponse = $json.matches || [];\nlet match = $json.person || (matchResponse.length > 0 ? matchResponse[0] : {});\n\nlet org = {};\ntry {\n  const orgItem = $('Apollo Organization Search1').item;\n  if (orgItem && orgItem.json && orgItem.json.organizations && orgItem.json.organizations.length > 0) {\n    org = orgItem.json.organizations[0];\n  }\n} catch (e) {\n  // fallback if item pairing fails\n}\n\nconst company = {\n  company_name: org?.name || $('Clean URL1').item?.json?.company_name || '',\n  company_url: org?.website_url || $('Clean URL1').item?.json?.company_url || '',\n  employee_count: org?.estimated_num_employees || '',\n  industry: org?.industry || '',\n};\n\nconst today = new Date().toISOString().split('T')[0];\nconst email = match.email || (match.person ? match.person.email : '') || '';\nconst linkedin = match.linkedin_url || (match.person ? match.person.linkedin_url : '') || '';\n\nconst is_email_missing = !email;\nconst is_linkedin_missing = !linkedin;\nconst has_missing_data = is_email_missing || is_linkedin_missing;\n\nreturn {\n  json: {\n    company_name: company.company_name,\n    company_url: company.company_url,\n    employee_count: company.employee_count,\n    industry: company.industry,\n    first_name: match.first_name || '',\n    last_name: match.last_name || '',\n    designation: match.title || '',\n    partial_email: email,\n    verified_email: email,\n    linkedin_url: linkedin,\n    apollo_person_id: match.id || '',\n    enrichment_status: 'verified',\n    enriched_at: today,\n    has_missing_data: has_missing_data,\n    is_email_missing: is_email_missing,\n    is_linkedin_missing: is_linkedin_missing,\n    is_last_item: $node[\"Split In Batches1\"].context.noItemsLeft\n  }\n};"
      },
      "id": "601e4f23-979b-4984-8080-fb765eda2d3a",
      "name": "Normalize Single Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        41168,
        17584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_missing_data}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6807a323-4232-4078-8c58-e4350e82d6d6",
      "name": "If Missing Data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        41376,
        17584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_email_missing}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3adbbc7c-e9c1-497f-a326-77051b6ba137",
      "name": "If Needs MailMeteor1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        41568,
        17440
      ],
      "notes": "We only call MailMeteor if Email is missing. If LinkedIn is missing, we skip them anyway so no point calling it."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://spoiler-boxing-doorframe.ngrok-free.dev/find-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Normalize Single Data1').item.json.first_name }}\",\n  \"last_name\": \"{{ $('Normalize Single Data1').item.json.last_name }}\",\n  \"domain\": \"{{ $('Clean URL1').item.json.clean_domain }}\",\n  \"linkedin_url\": \"{{ $('Normalize Single Data1').item.json.linkedin_url }}\"\n}",
        "options": {}
      },
      "id": "ded2fd5d-0b02-4a42-b12d-6f89d5309c4f",
      "name": "MailMeteor API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        41776,
        17296
      ]
    },
    {
      "parameters": {
        "jsCode": "const mmResponse = $input.item.json;\nconst personData = $('Normalize Single Data1').item.json;\n\nlet finalData = { ...personData };\n\nif (mmResponse.success && mmResponse.email) {\n  finalData.verified_email = mmResponse.email;\n  finalData.enrichment_status = 'verified_via_' + mmResponse.source;\n  // Re-evaluate missing data now that we have an email.\n  // If linkedin was also missing, this will STILL be true, which is correct.\n  finalData.has_missing_data = (!finalData.verified_email || !finalData.linkedin_url);\n}\n\nreturn { json: finalData };"
      },
      "id": "8e9e1304-a533-4134-9a8f-5aef57e9fc3b",
      "name": "Normalize MailMeteor Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        41968,
        17296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.has_missing_data}}",
              "value2": true
            }
          ]
        }
      },
      "id": "cccda31c-8f85-422c-a4ae-f0fa4247735c",
      "name": "If MailMeteor Missing Data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        42176,
        17296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.is_last_item}}",
              "value2": true
            }
          ]
        }
      },
      "id": "423f7831-cbb6-483c-b8fb-0609147e90e9",
      "name": "If Last Item1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        42368,
        17440
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "id",
          "value": "<YOUR_OUTPUT_SPREADSHEET_ID>"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "s2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<YOUR_OUTPUT_SPREADSHEET_ID>/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{$json.company_name}}",
            "company_url": "={{$json.company_url}}",
            "employee_count": "={{$json.employee_count}}",
            "industry": "={{$json.industry}}",
            "first_name": "={{$json.first_name}}",
            "last_name": "={{$json.last_name}}",
            "designation": "={{$json.designation}}",
            "partial_email": "={{$json.partial_email}}",
            "verified_email": "={{$json.verified_email}}",
            "linkedin_url": "={{$json.linkedin_url}}",
            "apollo_person_id": "={{$json.apollo_person_id}}",
            "enrichment_status": "={{$json.enrichment_status}}",
            "enriched_at": "={{$json.enriched_at}}"
          },
          "matchingColumns": [
            "company_name"
          ],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "employee_count",
              "displayName": "employee_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "designation",
              "displayName": "designation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verified_email",
              "displayName": "verified_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apollo_person_id",
              "displayName": "apollo_person_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "partial_email",
              "displayName": "partial_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enrichment_status",
              "displayName": "enrichment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enriched_at",
              "displayName": "enriched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "427277db-b03d-4234-8c07-19fbe61e3389",
      "name": "Update Google Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        42576,
        17632
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<YOUR_GOOGLE_SHEETS_CREDENTIAL_ID>",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<YOUR_SLACK_WEBHOOK_URL>",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚀 Single Lead Enriched ({{ $json.has_missing_data ? 'Partial Data - Last Option' : 'Complete Data' }})\\n\\nName: {{$json.first_name}} {{$json.last_name}}\\nCompany: {{$json.company_name}}\\nDesignation: {{$json.designation}}\\nEmail: {{$json.verified_email || 'Not Found'}}\\nLinkedIn: {{$json.linkedin_url || 'Not Found'}}\\nEnrichment Source: {{$json.enrichment_status}}\"\n}",
        "options": {}
      },
      "id": "4e4311fd-89cf-48e7-b87e-ff00289b0c5a",
      "name": "Slack Notification (Success/Final)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        42768,
        17632
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-enrichment",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS, GET"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        38704,
        17440
      ],
      "id": "ea5ace14-ae33-481c-a81c-ccacf028e1c0",
      "name": "Webhook1",
      "webhookId": "e72380a1-a732-4323-8796-0ef57b8bb512"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip_silently}}",
              "value2": true
            }
          ]
        }
      },
      "id": "76b3851f-d316-4813-b24b-551f4581e9bc",
      "name": "If Skip Silently1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        40784,
        17440
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Read Input Sheet1": {
      "main": [
        [
          {
            "node": "Filter by Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Row1": {
      "main": [
        [
          {
            "node": "Clean URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean URL1": {
      "main": [
        [
          {
            "node": "Apollo Organization Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Organization Search1": {
      "main": [
        [
          {
            "node": "Apollo API Search High Value1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo API Search High Value1": {
      "main": [
        [
          {
            "node": "If Zero Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Zero Results1": {
      "main": [
        [
          {
            "node": "Merge Search Results1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apollo API Search Fallback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo API Search Fallback1": {
      "main": [
        [
          {
            "node": "Merge Search Results1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Search Results1": {
      "main": [
        [
          {
            "node": "Filter Unique Titles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unique Titles1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Deduplication Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplication Check1": {
      "main": [
        [
          {
            "node": "If Skip Silently1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate1": {
      "main": [
        [
          {
            "node": "Slack Notification (Duplicate)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apollo Single Enrich1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification (Duplicate)1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Single Enrich1": {
      "main": [
        [
          {
            "node": "Normalize Single Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Single Data1": {
      "main": [
        [
          {
            "node": "If Missing Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Missing Data1": {
      "main": [
        [
          {
            "node": "If Needs MailMeteor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs MailMeteor1": {
      "main": [
        [
          {
            "node": "MailMeteor API1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Last Item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailMeteor API1": {
      "main": [
        [
          {
            "node": "Normalize MailMeteor Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize MailMeteor Data1": {
      "main": [
        [
          {
            "node": "If MailMeteor Missing Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If MailMeteor Missing Data1": {
      "main": [
        [
          {
            "node": "If Last Item1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Last Item1": {
      "main": [
        [
          {
            "node": "Update Google Sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet1": {
      "main": [
        [
          {
            "node": "Slack Notification (Success/Final)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification (Success/Final)1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Read Input Sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Output Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skip Silently1": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Duplicate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f9982da2-d748-4924-8f1c-08e716b496ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "581cc386adb3c63a358ac6654f7a77eae3572a40126b3df731395ba6e42d841c"
  },
  "id": "SSlFHUos0ZzWu789",
  "tags": []
}
